@charset 'utf-8';
/*-----------------------------------------------
Basic reset
-----------------------------------------------*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

body {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(102, 102, 102);
}

/* Body text */

h1 {
    font-family: Oxygen, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(51, 51, 51);
    margin-bottom: 1.125rem;
}

h2 {
    font-family: Oxygen, sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    margin-bottom: .75rem;
}

.secondH2 {
    margin-top: 1.5rem;
}

.border {
    margin: 0 auto .75rem;
}

.border>h2 {
    color: rgba(51, 51, 51, .3);
}

p {
    margin-bottom: 1.5rem;
}

.conditions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    color: rgba(102, 102, 102, 0.9);
    /* margin-top: 1.5rem;*/
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.conditions .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    padding: 0 .5rem;
    color: hsla(357, 70%, 65%, 0.7);
    background-color: rgba(253, 134, 140, 0.5);
}

.conditions .text {
    background-color: rgba(253, 134, 140, 0.075);
    padding: 1rem 1rem 0;
}

.info,
.optional {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: rgba(102, 102, 102, 1);
    margin-bottom: .5rem;
}

.info {
    margin-top: .5rem;
}

.info1 {
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 2px dotted rgba(51, 51, 51, .35);
}

/* Anchor tags */

a {
    color: rgba(102, 102, 102, 0.85);
    border-bottom: 1px solid rgba(253, 134, 140, 0.7);
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
}

a:hover,
a:active,
a:focus {
    color: rgb(58, 58, 58);
    border-bottom: 3px solid #fd868c;
}

/* Form container */

.formContainer {
    width: 680px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 2.5rem 2rem 2.5rem 2.5rem;
    -webkit-box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

/* Form */

form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Form elements */

input[type='text'],
input[type='email'],
input[type='number'],
textarea {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input:required,
input[type='radio'] {
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

input:-moz-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

input::-moz-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

input:-ms-input-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea::-webkit-input-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

textarea:-moz-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

textarea::-moz-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

textarea:-ms-input-placeholder {
    color: rgba(173, 173, 173, 0.7);
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

/* Form-element wrappers */

.outer-wrapper,
.outer-wrapper-select {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #ececec;
    padding-bottom: .75rem;
    margin-bottom: 1.5rem;
}

.outer-wrapper-radio,
.outer-wrapper-check {
    width: 100%;
    position: relative;
}

.label-wrapper {
    font-weight: 600;
}

.input-wrapper {
    display: block;
    width: 100%;
    font-size: 16px;
    padding-top: .5rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(102, 102, 102);
}

.animatedBorder {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.animatedBorder::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background: #c5c5c5;
}

.input-wrapper:hover+.animatedBorder::before {
    width: 100%;
}

.input-wrapper:focus+.animatedBorder::before {
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.contains-data.input-wrapper+.animatedBorder::before {
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

/* Button */

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

#submit {
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    border: none;
    border-radius: .25rem;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

#submit span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#submit span:after {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: -1.5rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#submit:hover span {
    padding-right: 1.5rem;
}

#submit:hover span:after {
    opacity: 1;
    right: 0;
}

#submit:hover,
#submit:focus {
    background: -webkit-gradient(linear, left top, right top, from(#f02d51), to(#f51240));
    background: linear-gradient(to right, #f02d51 0%, #f51240 100%);
}

/* Checkbox with guidance from https://www.w3schools.com*/

.column1 {
    margin-top: 1rem;
}

.has-checkbox {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.has-checkbox input {
    position: absolute;
    opacity: 0;
}

.checkicon {
    border: 2px solid #ececec;
    position: absolute;
    height: 1.75rem;
    width: 1.75rem;
    top: 0;
    left: 0;
}

.has-checkbox:hover input~.checkicon {
    border: 2px solid #c5c5c5;
}

.has-checkbox input:checked~.checkicon {
    border: 2px solid #fd868c;
}

.checkicon:after {
    content: "";
    position: absolute;
    display: none;
}

.has-checkbox input:checked~.checkicon:after {
    display: block;
}

.has-checkbox .checkicon:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: .75rem;
    border: solid #fd868c;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Radio button with guidance from https://www.w3schools.com */

#numberOfTrips,
#satisfactionLevel,
#recommendOthers {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.has-radiobtn {
    display: block;
    position: relative;
    padding-left: 2.5rem;
    margin-bottom: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.has-radiobtn input {
    position: absolute;
    opacity: 0;
}

.radioicon {
    border: 2px solid #ececec;
    position: absolute;
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    top: 0;
    left: 0;
}

.has-radiobtn:hover input~.radioicon {
    border: 2px solid #c5c5c5;
}

.has-radiobtn input:checked~.radioicon {
    border: 2px solid #fd868c;
}

.radioicon:after {
    content: "";
    position: absolute;
    display: none;
}

.has-radiobtn input:checked~.radioicon:after {
    display: block;
}

.has-radiobtn .radioicon:after {
    border-radius: 50%;
    left: 4px;
    top: 4px;
    width: 1rem;
    height: 1rem;
    background: #fd868c;
}

/* Select element with guidance from https://www.w3schools.com */

.selectlist {
    position: relative;
    width: auto;
}

.selectlist:hover+.animatedBorder::before {
    width: 100%;
}

.selectlist:focus+.animatedBorder::before {
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.selectlist select {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(102, 102, 102);
    font-weight: inherit;
    font-size: inherit;
    border: none;
    display: none;
}

.selectlist {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.first-option:after {
    position: absolute;
    content: "";
    top: 1rem;
    right: .5rem;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: .75rem solid transparent;
    border-color: #ececec transparent transparent transparent;
}

.first-option:hover:after {
    border-color: #c5c5c5 transparent transparent transparent;
}

.first-option.twirl-arrow:after {
    border-color: transparent transparent #fd868c transparent;
    top: 7px;
}

.selection div,
.first-option {
    color: inherit;
    padding: 8px 16px;
    cursor: pointer;
}

.selection {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-top: 1px solid;
    border-color: #fd868c transparent transparent transparent;
    -webkit-box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.18);
            box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.18);
}

.selection-hide {
    display: none;
}

.selection div:hover,
.same-as-selected {
    color: white !important;
    background: -webkit-gradient(linear, left top, right top, from(#f78ca0), color-stop(19%, #f9748f), color-stop(60%, #fd868c), to(#fe9a8b));
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

/*--------------------------------------------------------------
Media queries
--------------------------------------------------------------*/

@media screen and (max-width: 432px) {
    h1 {
        font-size: 21px;
    }
    h2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 612px) {
    body {
        font-size: 18px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    #submit span {
        font-size: 18px;
    }
    .conditions {
        font-size: 16px;
    }
    .conditions .icon {
        font-size: 18px;
    }
    .info,
    .optional {
        font-size: 16px;
        color: rgba(102, 102, 102, 0.75);
    }
    .input-wrapper {
        font-size: 18px;
        padding-top: 1rem;
    }
    .aligned1 {
        width: 70%;
    }
    .aligned2 {
        width: 25%;
    }
    /* checkbox grids */
    #triptype,
    #featuresLiked,
    #disliked,
    #numberOfTrips {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    .column1 {
        margin-top: 0;
    }
}